.wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.loader {
    background: #fddee4;
    width: 100%;
    height: 6px;
    border-radius: 10px;
    position: relative;
}

.loader .line {
    background: #926cb1;
    border-radius: 10px;
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100px;
    height: 6px;
    animation: line-bounce 2s infinite;
}

@keyframes line-bounce {
    0% {
        left: 0;
    }
    50% {
        left: calc(100% - 100px);
    }
    100% {
        left: 0;
    }
}