
.header_wrapper {
  background: #f9f7f2;
  padding: 10px 0 10px 0;
}

.header {
  height: 90px;
  background: bisque;

}


.header_menu {
  //display: inline-block;
  height: 30px;
  width: 30px;
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header_menu_el {
  //height: 3px;
  width: 20px;
  border-bottom: 2px solid black;

  padding-bottom: 4px;

  &:first-child {
    padding-bottom: 0;
  }

  &.line2 {
    display: none;
  }
  &.line1{
    transform: rotate(45deg);
  }
  &.line3{
    transform: rotate(-45deg);
  }
}

.header_menu_wrapper {
  display: flex;
  align-items: center;
}

.header_logo {
  font-size: 26px;
  margin-left: 15px;
}

