
.model_wrapper {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.model_wrapper.active {
    opacity: 1;
    pointer-events: all;
}

.model_content {
width: 60vh;
    /*height: 50vh;*/
    border-radius: 10px;
    background: white;
    transform: scale(0.5);
    transition: 0.5s all;

}

.model_content.active {
    transform: scale(1);
}