
.box{
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;

}
.boxSub{
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;

}
.container{
    margin-top: 25px;
}

.card{
    display: flex;
    align-items: center;


    box-shadow:  0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 15px;
}

.img{
    width: 250px;
    height: 320px;
    border-radius: 20px;
}
.noImg{
    width: 250px;
    height: 320px;
    border-radius: 20px;
    border: 1px solid;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 10px 10px;
}
.delete{
    color: deeppink;
    cursor: pointer;
}
.edit{
    cursor: pointer;
}
#uploadFile{
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
    cursor: pointer;
}
label img{

    height: 90px;
}